@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    background-color: #101213;
    scroll-behavior: smooth;
    padding-right: 0;
    margin-right: 0;
}

header {
    width: 100%;
    height: 16vh;
    background-color: #101213;
    position: fixed;
    top: 0;
    border-bottom: 0.45vh solid white;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: center;
    height: 16vh;
    gap: 30vw;
}

header nav h1 {
    font-family: 'Crimson';
    font-size: 3vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

header nav ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25vw;
    color: white;
    display: flex;
}

header nav ul li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25vw;
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(191, 196, 192);
}

main {
    width: 100%;
    background-color: #101213;
}

section#home {
    padding-top: 100px;
    width: 100%;
    background-color: #101213;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

div#apresentacao {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 2vw;
    bottom: 4vh;
}

div#texto1 {
    position: relative;
    font-size: 3.75vw;
    color: rgb(191, 196, 192);
}

span#cores1 {
    color: rgb(191, 196, 192);
}


div#texto2 {
    font-size: 1.95vw;
    position: relative;

}

div#texto3 {
    font-size: 2.625vw;
    position: relative;
    top: 3vh;
}

span#cores2 {
    font-size: 3.75vw;
    color: rgb(191, 196, 192);
}

div#texto4 {
    font-size: 1.95vw;
    position: relative;
    top: 1.3vw;
}

span.cores3 {
    text-decoration: 1px underline;
    text-decoration-color: rgb(191, 196, 192)
}


div#foto {
    width: 28.8vw;
    height: 79.04vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2vh;
}

img {
    width: 28.8vw;
    height: 79.04vh;
}

section#portfolio {
    padding-top: 16vh;
    padding-bottom: 16vh;
    width: 100%;
    height: 64vh;
    background-color: #101213;
}

div#ordem {
    position: absolute;
    left: 5.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13vh;
}

h1#portfolioh1 {
    margin-top: 2vh;
    display: flex;
    font-size: 3.75vw;
    height: 0.96vh;
}

p#portfoliop {
    font-size: 2.25vw;
    font-family: 'Pt+Sans';
}

section#serviços {
    padding-top: 90px;
    width: 100%;
    height: 700px;
    background-color: #101213;
}

h1#servicosh1 {
    padding-top: 3vh;
    font-size: 3.75vw;
    margin-left: 5.5vw;
    margin-bottom: 6vh;
}


div#geral1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
}

div#lorem1 {
    font-size: 2.25vw;
}

div#lorem2 {
    font-size: 2.25vw;
}

div#geral2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
}

div#lorem3 {
    font-size: 2.25vw;
}

div#lorem4 {
    font-size: 2.25vw;
}

section#contato {
    width: 100%;
    height: 600px;
    background-color: blue;
}

footer {
    width: 100%;
    height: 50px;
    background-color: palevioletred;
}